# Ignore virtual environment folder
venv/

# Ignore temporary files created by the script
temp/

# Ignore .DS_Store on macOS (if collaborating with Mac users)
.DS_Store

# Ignore IDE-specific files (e.g., for VS Code)
.vscode/

# Ignore common Python compiled files
__pycache__/
*.pyc
*.ipynb_checkpoints/

# Ignore .env file
.env
.env.*